

.lengthSize {
    background: rgb(251, 235, 6);
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px 5px 10px;
    text-align: center;
    color: red;
    border-radius: 50px;
  }